<nav class="navbar navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand text-dark {% if page.layout == 'home' %}text-white{% endif %}" href="{{ '/' | relative_url }}">{{ site.title }}</a>
        <button class="navbar-toggler {% if page.layout == 'home' %}text-white{% else %}text-dark bg-light{% endif %}" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Open navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi icon-sprite fs-1" viewBox="0 0 16 16">
                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
            </svg>
        </button>
        
        <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasNavbarLabel">{{ site.title }}</h2>
                <button type="button" class="btn-close " data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <p class="h5 mb-3">by {{ site.text-author }}</p>
                <p><small>{{ site.description }}</small></p>
                <hr>
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    {%- assign navItems = site.data.config-nav -%} 
                    {% for nav in navItems %}
                    <li class="nav-item">
                        <a class="nav-link{% if page.url == nav.stub %} active{% endif %}" href="{{ nav.stub | relative_url }}">{{ nav.display_name }}</a>
                    </li>
                    {%- endfor -%}

                    {%- assign front-matter = site.html_pages | where: "layout", "chapter" | where_exp: "c", "c.front_matter" %}
                    {% for f in front-matter %}
                    <li class="nav-item"><a class="nav-link{% if page.url == f.url %} active{% endif %}" href="{{ f.url | absolute_url }}">{{ f.title }}</a></li>
                    {% endfor %}
                
                    {%- assign chapters = site.html_pages | where: "layout", "chapter" | where_exp: "c", "c.section_number" %}
                    {% assign sections = chapters | map: 'section_number' | uniq %}
                    {% for s in sections %}
                    {% assign articles = chapters | where: "section_number", s %}
                    {% assign section_title = articles | map: 'section_title' | uniq | first %} 
                    <hr>
                    <li class="nav-item">{{ section_title }}</li>
                    
                    {% for a in articles %}
                    <li class="nav-item"><a class="nav-link{% if page.url == a.url %} active{% endif %}" href="{{ a.url | absolute_url }}">{{ a.article_name }}: {{ a.title }}</a></li>
                    {% endfor %}

                    {% endfor %}
                    
                </ul>

                <div class="mt-5">
                    <a href="https://cdil.lib.uidaho.edu/" target="_blank" rel="noopener">
                        <img class="img-fluid sidebar-nav-image" src="https://cdil.lib.uidaho.edu/assets/img/logo.png" title="Center for Digital Inquiry and Learning (CDIL)" alt="CDIL home" >
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</nav>
