/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

// off canvas nav
.sidebar-nav-image { max-height: 2.25rem; }

// chapter text
.container { max-width: 58rem; }
.chapter-content { 
    h1, h2, h3 { text-align: center; }
}
.footnotes { 
    border-top: 1px solid #cdcdcd; 
    margin-top: 2rem;
    padding-top: 2rem;
}