---
# base CSS for collectionbuilder
# includes some theming options
# pulled in from "theme.yml" and "config-theme-colors.csv"
---
@charset "utf-8";

/* base variables pulled from theme.yml */
$base-font-family: {{ site.data.theme.base-font-family | default: '""' }};
$base-font-size: {{ site.data.theme.base-font-size | default: '""' }};
$text-color: {{ site.data.theme.text-color | default: '""' }};
$link-color: {{ site.data.theme.link-color | default: '""' }};

@import "base", "custom";
