---
layout: page 
---
<div class="chapter-content">
    
    {% if page.section_title %}<h1 class="section-title">{{ page.section_title }}</h1>{% endif %}
    {% if page.article_name %}<div class="article-title h3">{{ page.article_name }}.</div>{% endif %}
    <h1 class="chapter-title">{{ page.title }}</h1>

    {{ content }}

    <div class="next-buttons d-flex justify-content-between">
        {% if page.previous %}<a class="text-dark" href="{{ page.previous.url | relative_url }}">&laquo; {{ page.previous.title }}</a>{% endif %}
        {% if page.next %}<a class="text-dark" href="{{ page.next.url | relative_url }}">{{ page.next.title }} &raquo;</a>{% endif %}
    </div>

</div>
